/* -------------------- GLOBALS ---------------- */

:root {
  /* Color variables */
  --dark-green: #2d4a22;
  --light-green: #49aa26;
  --text-grey: #969cb2;
  --text-blue: #363f5f;
  --red: #e92929;
  --bg-white: #f0f2f5;
}

* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;

  font-size: 62.5%;
  font-size: 1.4rem;
  color: var(--text-blue);
}

html {
  height: 100vh;
  width: 100vw;
}

.--text-white {
  color: #fff;
}
.--text-red {
  color: var(--red);
}
.--text-green {
  color: var(--light-green);
}

/* -------------------- GENERALS ---------------- */
main {
  width: 100%;
}

body {
  font-family: "Poppins", sans-serif;

  background-color: var(--bg-white);

  width: min(80%, 70rem);

  margin: 0 auto 1.6rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 12rem;
}

.sr-only {
  position: absolute;
  height: 1px;
  width: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip-path: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

/* -------------------- HEADER ---------------- */

#header {
  background-color: var(--dark-green);

  text-align: center;

  padding-top: 4rem;

  width: 100vw;
  height: 23rem;
}

#header .logo {
  font-weight: 300;
  font-size: 2.4rem;

  text-decoration: none;
  color: #fff;
}

#header .logo.text-green {
  color: var(--light-green);
  font-size: 2.7rem;
  font-weight: 500;
}

/* -------------------- CONTENT CONTAINER ---------------- */

#container {
  margin-top: -20rem;
}

/* Balance Section */

#container .balance {
  width: 100%;
}

#container .balance.title {
  font-weight: 300;
  margin-bottom: 0.6rem;
}

#container .balance.-card {
  background: #fff;

  margin-bottom: 0.6rem;
  padding: 0.8rem 1.6rem;

  border-radius: 0.3rem;

  height: 35%;
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-around;
}

#container .balance.total.-card {
  background: var(--light-green);
}

#container .balance h3 {
  font-weight: 400;
  font-size: 1.2rem;

  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
}

#container .balance h3 img {
  width: 2rem;
}

#container .balance .--amount-text {
  font-weight: 400;
  font-size: 2rem;
}

#container .balance .--amount-text.total {
  font-weight: 500;
  font-size: 2.4rem;
}

/* Transactions Section */

#transactions {
  width: 100%;
  /* margin-top: 3rem; */
}

#transactions .title {
  font-weight: 400;
  margin: 1.5rem 0;
}

#transactions .new-transaction-button {
  display: inline-block;
  margin: 2rem 0 0.2rem;

  color: var(--dark-green);
  text-decoration: none;

  transition: filter 0.2s;
  cursor: pointer;

  padding: 0.5rem 0.7rem;

  border: 0.1rem solid var(--light-green);
  border-radius: 0.9rem;
}

#transactions .new-transaction-button:hover {
  filter: brightness(1.2);
  color: var(--light-green);
}

/* Transaction Table */

#transactions table {
  table-layout: fixed;
  text-align: left;
  width: 100%;

  overflow: hidden;

  border-spacing: 0 1rem;
}

#transactions table tr {
  background: #fff;
}

#transactions table th {
  background: var(--bg-white);

  color: var(--text-grey);
  font-weight: 400;

  line-height: 1.6rem;
}

#transactions table td {
  padding: 1.6rem;
}

#transactions table th,
#transactions table td {
  overflow: hidden;
  text-overflow: ellipsis;
  padding-left: 7.5rem;
}

/* -------------------- FOOTER ---------------- */

#footer {
  text-align: center;

  margin-bottom: 2rem;
}

#footer small {
  color: var(--text-grey);
}
